<script>
    
</script>

<div ng-controller="recibosCtrl">
    <div class="buscador">
        <p class="form-control-static"><b>Desde</b></p>
        <select ng-model="desdeMonth" ng-options="x for x in months" class="form-control">
            <option value="" disabled>MES</option>
        </select>
        <select ng-model="desdeYear" ng-options="x for x in years" class="form-control">
            <option value="" disabled>AÑO</option>
        </select>
        <p id="hastaBuscar" class="form-control-static"><b>Hasta</b></p>
        <select ng-model="hastaMonth" ng-options="x for x in months" class="form-control">
            <option value="" disabled>MES</option>
        </select>
        <select ng-model="hastaYear" ng-options="x for x in years" class="form-control">
            <option value="" disabled>AÑO</option>
        </select>

        <button type="button" class="btn btn-default buscarBtn">Buscar</button>
    </div>

    <div>
        <table class="table table-bordered recibos">
            <tr>
                <th><b>MES</b></th>
                <th><b>AÑO</b></th>
                <th><b>FIRMADO</b></th>
                <th><b>OPCIONES</b></th>
            </tr>
            <tr>
                <td>Septiembre</td>
                <td>2016</td>
                <td class="firmado"><b>{{firmadoNO ? "SI" : "NO"}}</b></td>
                <td class="opciones"><button type="button" class="btn btn-primary">Ver</button></td>
            </tr>
        </table>
        <table class="table table-bordered recibos">
           <tr>
                <th><b>MES</b></th>
                <th><b>AÑO</b></th>
                <th><b>FIRMADO</b></th>
                <th><b>OPCIONES</b></th>
            </tr>
            <tr>
                <td>Agosto</td>
                <td>2016</td>
                <td class="firmado"><b>{{firmadoSI ? "SI" : "NO"}}</b></td>
                <td class="opciones">
                    <button type="button" class="btn btn-primary">Ver</button>
                    <button type="button" class="btn btn-primary" ng-if=firmadoSI>Imprimir</button>
                    <button type="button" class="btn btn-primary" ng-if=firmadoSI>Descargar</button>
                </td>
            </tr>
            <tr>
                <td>Julio</td>
                <td>2016</td>
                <td class="firmado"><b>{{firmadoSI ? "SI" : "NO"}}</b></td>
                <td class="opciones">
                    <button type="button" class="btn btn-primary">Ver</button>
                    <button type="button" class="btn btn-primary" ng-if=firmadoSI>Imprimir</button>
                    <button type="button" class="btn btn-primary" ng-if=firmadoSI>Descargar</button>
                </td>
            </tr>
        </table>
    </div>
</div>