 <div>
    <table class="table table-bordered recibos">
        <tr>
            <th><b>ID</b></th>
            <th><b>NOMBRE</b></th>
            <th><b>ULTIMO RECIBO</b></th>
            <th><b>OPCIONES</b></th>
        </tr>
        <tr>
            <td>1</td>
            <td>Roberto Perez</td>
            <td><b>FIRMADO</b></td>
            <td class="opciones"><button type="button" class="btn btn-primary">Ver</button></td>
        </tr>
    </table>
    <table class="table table-bordered recibos">
       <tr>
            <th><b>MES</b></th>
            <th><b>AÑO</b></th>
            <th><b>FIRMADO</b></th>
            <th><b>OPCIONES</b></th>
        </tr>
        <tr>
            <td>Agosto</td>
            <td>2016</td>
            <td><b>{{firmadoSI ? "SI" : "NO"}}</b></td>
            <td class="opciones">
                <button type="button" class="btn btn-primary">Ver</button>
                <button type="button" class="btn btn-primary" ng-if=firmadoSI>Imprimir</button>
                <button type="button" class="btn btn-primary" ng-if=firmadoSI>Descargar</button>
            </td>
        </tr>
        <tr>
            <td>Julio</td>
            <td>2016</td>
            <td><b>{{firmadoSI ? "SI" : "NO"}}</b></td>
            <td class="opciones">
                <button type="button" class="btn btn-primary">Ver</button>
                <button type="button" class="btn btn-primary" ng-if=firmadoSI>Imprimir</button>
                <button type="button" class="btn btn-primary" ng-if=firmadoSI>Descargar</button>
            </td>
        </tr>
    </table>
        
</div>